/*
###############
- Debug
- Common
- Utilities
- MediaQuery
- Header
- Main
- Footer
###############
*/


/* #region Debug */
/* .debug {
    background-color: #333;
    color: white;
} */

/* #endregion Debug */


/* #region Common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

#hero_image {
    height: 33vh;
    background-color: blue;
    position: relative;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;

    h1 {
        color: white;
        text-align: center;
        padding-top: 2em;
    }

    img {
        position: absolute;
        /* top: 0; */
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/header-bg.png');
        background-size: cover;
        background-position: center 1%;
        background-repeat: no-repeat;
        width: 100%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}

.calendar {
    margin-top: 20px;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    height: 100px;
    border-radius: 5px;
    font-size: 1.5em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.day:hover {
    background-color: #ffcc00;
}

/* #endregion Common */


/* #region Utilities */

/* #endregion Utilities */


/* #region MediaQuery */

/* #region Desktops & Large screens */
@media screen and (max-width: 1200px) {
    /* Desktops & Large screens */
}

/* #endregion Desktops & Large screens */

/* #region Small screens & Laptops */
@media screen and (max-width: 1024px) {
    /* Small screens & Laptops */
}

/* #endregion Small screens & Laptops */

/* #region iPads & Tablets */
@media screen and (max-width: 768px) {

    /* iPads & Tablets */
    .day {
        height: 80px;
    }
}

/* #endregion iPads & Tablets */

/* #region Mobile */
@media screen and (max-width: 480px) {
    /* Mobile */
}

/* #endregion Mobile */

/* #endregion MediaQuery */


/* #region Header */

/* #endregion Header */


/* #region Main */

/* #endregion Main */


/* #region Footer */

/* #endregion Footer */